node_modules
.next
out
dist
coverage
playwright-report
test-results
.env
.env.local
.env.*.local
.DS_Store
npm-debug.log*
*.tsbuildinfo
.vercel
api-keys.txt
docs/repository-settings/*.json
apps/web/public/maplibre/

!.github/
!.github/ISSUE_TEMPLATE/
!.github/ISSUE_TEMPLATE/*.yml
!.github/workflows/
!.github/workflows/*.yml
