node_modules
.next
out
dist
coverage
.env
.env.local
.env.*.local
.DS_Store
npm-debug.log*
*.tsbuildinfo

!.github/
!.github/ISSUE_TEMPLATE/
!.github/ISSUE_TEMPLATE/*.yml
!.github/workflows/
!.github/workflows/*.yml
